# Dependency directories
/node_modules
/.pnp
.pnp.js

# Test coverage
/coverage

# Build output
/build
/dist
/dist-ssr

# Vite cache (if using Vite)
.vite/

# Environment variables
.env
.env.*.local

# System-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore local custom config files
*.local
